@import "../../../../rootCSS/variables";

.title-introduce__video {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-color__black;

  h2 {
    font-size: 2rem;
  }
  .search-introduce__video {
    display: flex;
    align-items: center;

    .add-video {
      margin: 0 1rem;
      cursor: pointer;
      padding: 0.4rem 1rem;
      font-size: 1.2rem;
      &:hover {
        background-color: $darkl-color__white;
        color: $buttonl-color;
      }
    }

    .invite-add__video {
      border-radius: 12px;
      color: $button-color;
    }

    .edit-video__introduce {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      text-align: center;
      display: flex;
      //   align-items: center;
      background-color: $darkL-color__white;
      font-size: 1rem;
      justify-content: center;
      &:hover {
        background-color: $darkl-color__white;
      }
    }
  }
}

.items-filter__video {
  background-color: $light-color__black;

  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  .item-filter {
    min-width: 8rem;
    background: $darkL-color__white;
    margin: 0 1rem;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
      background: $darkl-color__white;
      transition: all 0.3s linear;
    }
  }

  .item-filter.active {
    background: $button-color;
    border-bottom: 1px solid;
  }
}

.list-video__introduce {
  padding: 2rem 2rem;
  background-color: $light-color__black;

  .list-video {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    row-gap: 2rem;
    margin: 2rem 0;

    .wrap-item__video {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      row-gap: 1rem;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        min-width: 24%;
        height: 18rem;
      }
    }
  }
  .see-all__video {
    width: 100%;
    background-color: $darkL-color__white;
    padding: 0.6rem 1rem;
    text-align: center;
    border-radius: 12px;
    // margin-top: 1rem;
    font-size: 1.2rem;

    cursor: pointer;
    &:hover {
      background-color: $darkl-color__white;
    }
  }
}
