@import "../../rootCSS/variables";

.header {
  height: 3.5rem;
  background-color: $dark-color__black;
  //   background-color: $primary-color;
  //   display: flex;
  //   text-align: center;
  //   align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 1rem;
    .nav_logoInput {
      display: flex;
      align-items: center;
      .nav-logo {
        color: #fff;
        text-decoration: none;
        background-color: $primary-color;
        // line-height: 2rem;
        display: inline-block;
        padding: 0.2rem 1.2rem;
        border-radius: 20px 5px;
        align-items: center;
        font-size: 1.2rem;
      }
      .nav-input {
        margin-left: 1rem;
        position: relative;
        display: flex;
        .input-search {
          width: 24rem;
          border: none;
          outline: none;
          border-radius: 15px;
          display: inline-block;
          line-height: 1rem;
          padding: 0.2rem 0;
          padding-left: 2.4rem;
          font-size: 1.2rem;
        }

        .nav-input__icon {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          cursor: pointer;
          color: $light-color__gray;
          font-size: 1.6rem;
          &:hover {
            color: $dark-color__black;
            transition: all 0.3s linear;
          }
        }
      }
    }

    .nav-items {
      .nav-item {
        .nav-link {
          color: #fff;
          text-decoration: none;
          padding: 0rem 1.4rem;
          line-height: 2rem;
          display: inline-block;
          border-radius: 5px;
          margin-left: 0.2rem;
          min-width: 4rem;
          font-size: 1.2rem;
          min-width: 5rem;
          text-align: center;
          &:hover {
            background-color: $light-color__gray;
            color: #fff;
            transition: all 0.3s linear;
          }
        }

        .nav-link.active {
          background-color: $primary-color;
        }
      }
    }

    .nav-user__setup {
      display: flex;
      //   align-items: center;
      .nav-wrap__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $dark-color__gray;
        border-radius: 50%;
        width: 2.6rem;
        height: 2.6rem;
        margin-left: 0.5rem;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: $light-color__gray;
          .suggest {
            animation: 0.4s fadeIn;
            animation-fill-mode: forwards;
          }
        }
        .nav-icon {
          //   background-color: red;
          color: #fff;
          font-size: 1.8rem;
          border-radius: 50%;
        }

        span {
          position: absolute;
          top: 0;
          right: 0;
          color: #fff;
          background-color: red;
          border-radius: 50%;
          width: 1.2rem;
          height: 1.2rem;
          text-align: center;
          line-height: 1.2rem;
        }

        .suggest {
          position: absolute;
          bottom: -2rem;
          padding: 0.4rem 1rem;
          min-width: 7rem;
          background-color: #ccc;
          border-radius: 5px;
          visibility: hidden;
          font-size: 1.2rem;
          text-align: center;
          color: $dark-color__black;
          .arrow-up {
            position: absolute;
            top: -0.6rem;
            right: 50%;
            transform: translateX(50%);
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 10px solid #ccc; /* sử dụng màu xám nhạt */
            // transform: rotate(0deg);
            // background-color: red;
          }
        }
      }

      .nav-wrap__icon.active {
        background-color: $primary-color;
      }

      .nav-menu {
      }

      .nav-notify {
        .nav-notify__icon {
        }
      }

      .nav-chat {
      }

      .nav-user {
        img {
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%;
        }
      }
    }
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
