@import "../../../rootCSS/variables";

.profile-post {
  max-width: 82.5rem;
  border-radius: 12px;
  margin: 1.5rem auto 0 auto;
  background-color: $light-color__black;
  color: wheat;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: $dark-color__black;
  overflow-y: auto;
  padding-bottom: 2rem;
}
