@import "../../rootCSS/variables";

.friendPage {
  margin-top: 3.5rem;
  background-color: $dark-color__black;
  height: 100%;
  display: flex;
  .left-items {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
    .left-header {
      padding: 0 1rem;
      margin: 0.6rem 0;
      h2 {
        font-size: 2rem;
        font-weight: 700;
        border-bottom: 1px solid;
      }
    }
    .left-wrapItem {
      text-decoration: none;
      .left-item {
        padding: 1rem;
        border-radius: 12px;
        display: flex;
        max-height: 4rem;
        align-items: center;
        font-size: 1.2rem;
        margin: 0.6rem 0;
        .icon-item {
          font-size: 3rem;
          margin-right: 1rem;
        }

        &:hover {
          background: $darkL-color__white;
        }
        .left-item__user {
          display: flex;
          align-items: center;
          .wrap-item__imgUser {
            border-radius: 50%;
            img {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }
          }

          h2 {
            font-size: 1.6rem;
          }
        }
      }

      .more-item {
        justify-content: center;
        cursor: pointer;
        background: $darkL-color__white;
        &:hover {
          background: $darkl-color__white;
        }
      }
    }
  }

  .right-items {
    flex: 3;
    background: $dark-color__black;
    padding: 1rem;

    .header-right {
      background-color: transparent;
      display: flex;
      align-items: center;
      margin: 0.8rem 0;
      h2 {
        font-size: 2rem;
        // margin-left: 1rem;
        padding: 1rem;
      }
    }

    .list-items__right {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1rem;
      row-gap: 1rem;
      .item-right {
        background-color: $darkL-color__white;
        // padding: 0.4rem;
        overflow: hidden;
        width: calc(25% - 1rem);
        margin-left: 1rem;
        border-radius: 12px;
        cursor: pointer;
        &:hover {
          background-color: $darkl-color__white;
          transition: all 0.3s linear;
          color: $white;
        }

        .img-item {
          display: flex;
          // padding: 0.5rem;
          border-radius: 12px;

          img {
            width: 100%;
            height: 16rem;
            margin: 0 auto;
            border-radius: 12px;
            object-fit: cover;
          }
        }
        .item-right__content {
          padding: 1rem 0.4rem;
          h2 {
            font-size: 1.2rem;
            // padding: 0.4rem 0 0 0;
            color: $light-color__white;
            font-weight: 600;
            // padding-top: 0.5rem;
          }

          .number-friends {
            font-size: 0.8rem;
            color: $dark-color__white;
            padding-bottom: 1rem;
          }

          .btn-accept {
            color: $light-color__white;
            text-align: center;
            padding: 0.4rem 0;
            border-radius: 5px;
            background-color: $blue-color__1;

            &:hover {
              color: $white;
              background-color: $primary-color;
              transition: all 0.3s linear;
            }
          }

          .btn-delete {
            color: $light-color__white;
            text-align: center;
            padding: 0.4rem 0;
            margin-top: 0.4rem;
            border-radius: 5px;
            background-color: $blue-color__1;
            &:hover {
              color: $white;
              transition: all 0.3s linear;
              background-color: $color-red;
            }
          }
        }
      }
    }
  }
}
