$primary-color: #007bff;
$secondary-color: #6c757d;
$button-color: #006eff;
$buttonl-color: #579df8;
$light-color__black: #242526;
$dark-color__black: #18191a;
$darkC-color__black: rgba(0, 0, 0, 0.3);
$darkc-color__black: rgba(0, 0, 0, 0.4);
$darkL-color__black: #353535;
$dark-color__gray: #444444;
$light-color__gray: #707070;
$white: #fff;
$lightL-color__white: #f8f8f8;
$light-color__white: #e4e2e2;
$dark-color__white: #c6c4c4;
$darkL-color__white: #373737;
$darkl-color__white: #494949;
$blue-color__1: #0469ce;
$blue-color__2: #51d5c4;
$purple-color__1: #9c38cc;
$orange-color__1: #e64d29;
$yellow-color__1: #f7bf33;
$pink-color__1: #f4506d;
$color-transparent: rgba(80, 138, 230, 0.8);
$color-red: red;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
