@import "../../../rootCSS/variables";
.profile-post {
  // height: 50rem;
  max-width: 82.5rem;
  border-radius: 12px;
  margin: 1.5rem auto 0 auto;
  background-color: $light-color__black;
  color: wheat;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: $dark-color__black;
  // position: relative;
  // height: 100%;
  // box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 2rem;
  &:hover {
    .profile-post__left {
    }

    .profile-post-right {
      overflow-y: scroll;
    }
  }
}
